version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: gestion_articles_db
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - 8085:80
    environment:
      PMA_HOSTS: db
      PMA_VERBOSES: MySQL
      PMA_PORT: 3306
    links:
      - "db:db"

volumes:
  db_data:
