<%- include('layouts/header') %>

<main
  class="flex-grow-1 d-flex align-items-center justify-content-center bg-dark text-white"
  style="min-height: 85vh"
>
  <div class="text-center">
    <h1 class="display-4 fw-bold mb-3 animate__animated animate__fadeInDown">
      Bienvenue sur la plateforme
    </h1>
    <p class="lead mb-4 animate__animated animate__fadeInUp animate__delay-1s">
      Gérez vos articles facilement, par type et description.
    </p>

    <a
      href="/articles"
      class="btn btn-warning btn-lg px-5 py-3 rounded-pill shadow animate__animated animate__zoomIn animate__delay-2s"
    >
      <i class="bi bi-box-arrow-in-right me-2"></i> Accéder à la gestion des
      articles
    </a>
  </div>
</main>

<%- include('layouts/footer') %>
